pipeline/MySQL Incremental Load.json
{
	"name": "MySQL Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Watermark Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_watermark_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Watermark Table Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If No Changes",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup data available",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Lookup data available').output.firstRow.new_data_count, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Update Watermark Script",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "MySQL To ADLS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_sql_connection",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "UPDATE watermark_table \nSET watermark_value = '@{activity('Lookup data available').output.firstRow.NewWatermark}' WHERE table_name = '@{item().table_name}';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "MySQL To ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OdbcSource",
												"query": {
													"value": "SELECT * FROM @{item().table_name} WHERE created_at > '@{item().watermark_value}' AND created_at <= '@{activity('Lookup data available').output.firstRow.NewWatermark}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "MySQL_Table",
												"type": "DatasetReference",
												"parameters": {
													"table_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MySQLToParquet",
												"type": "DatasetReference",
												"parameters": {
													"folder_name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Lookup data available",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "SELECT COUNT(*) as new_data_count, MAX(created_at) as NewWatermark FROM @{item().table_name} WHERE created_at > '@{item().watermark_value}';",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "MySQL_Table",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "@item().table_name"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}