pipeline/p1_csv_files_ingestion.json
{
	"name": "p1_csv_files_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ADLS Files names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_all_files_names",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate childs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ADLS Files names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ADLS Files names').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy file to bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_allfiles_source",
									"type": "DatasetReference",
									"parameters": {
										"p_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csvfiles_to_bronze_dest",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": {
											"value": "@if(\n    contains(item().name, 'performance'), \n    'social_post_performance', \n    if(\n        contains(item().name, 'campaign'), \n        'campaign_lookup',\n        'unclassified_data'\n    )\n)",
											"type": "Expression"
										},
										"p_filename": {
											"value": "@if(\n    contains(item().name, 'performance'), \n    concat('social_post_performance_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv'), \n    if(\n        contains(item().name, 'campaign'), \n        concat('campaign_lookup_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv'),\n        concat('unclassified_', item().name)\n    )\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete file after ingestion",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy file to bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_allfiles_source",
									"type": "DatasetReference",
									"parameters": {
										"p_filename": "@item().name"
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls_connection",
										"type": "LinkedServiceReference"
									},
									"path": "load/deletelogs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}