pipeline/p2_api_data_ingestion.json
{
	"name": "p2_api_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Until hasMore",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('hasMore'), true)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy API Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_api_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_api_to_adls_dest",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "API validate",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy API Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "https://mocki.io/v1/410bc703-7c36-4382-9ba1-1d8e6a33f2ff"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "API validate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"hasMore": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}