adfprojectayan/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfprojectayan"
		},
		"ls_adls_connection_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_connection'"
		},
		"ls_sql_connection_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_connection'"
		},
		"ls_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ayan-key-vault-pr.vault.azure.net/"
		},
		"ls_adls_connection_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageprojectayan.dfs.core.windows.net/"
		},
		"ls_api_connection_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mocki.io"
		},
		"ls_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ayan-key-vault-pr.vault.azure.net/"
		},
		"ls_mysql_connection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "root"
		},
		"ls_sql_connection_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserverayan.database.windows.net"
		},
		"ls_sql_connection_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldbayan"
		},
		"ls_sql_connection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ayan"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Combined_p1_p3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute CSV Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "p1_csv_files_ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Flow",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute CSV Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "p3_silver_datacleaning",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Gold Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Flow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "p4_join_OBD_and_dim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/p1_csv_files_ingestion')]",
				"[concat(variables('factoryId'), '/pipelines/p3_silver_datacleaning')]",
				"[concat(variables('factoryId'), '/pipelines/p4_join_OBD_and_dim')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQL Incremental Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Watermark Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_watermark_table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Watermark Table Loop",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Watermark Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Watermark Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If No Changes",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Lookup data available",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('Lookup data available').output.firstRow.new_data_count, 0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Update Watermark Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "MySQL To ADLS",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "ls_sql_connection",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "UPDATE watermark_table \nSET watermark_value = '@{activity('Lookup data available').output.firstRow.NewWatermark}' WHERE table_name = '@{item().table_name}';",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "MySQL To ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OdbcSource",
														"query": {
															"value": "SELECT * FROM @{item().table_name} WHERE created_at > '@{item().watermark_value}' AND created_at <= '@{activity('Lookup data available').output.firstRow.NewWatermark}'",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "MySQL_Table",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MySQLToParquet",
														"type": "DatasetReference",
														"parameters": {
															"folder_name": {
																"value": "@item().table_name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "Lookup data available",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "SELECT COUNT(*) as new_data_count, MAX(created_at) as NewWatermark FROM @{item().table_name} WHERE created_at > '@{item().watermark_value}';",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "MySQL_Table",
											"type": "DatasetReference",
											"parameters": {
												"table_name": "@item().table_name"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_watermark_table')]",
				"[concat(variables('factoryId'), '/datasets/MySQL_Table')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_connection')]",
				"[concat(variables('factoryId'), '/datasets/MySQLToParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p1_csv_files_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ADLS Files names",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_all_files_names",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Iterate childs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ADLS Files names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ADLS Files names').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy file to bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@if(\r\n    contains(item().name, 'performance'), \r\n    pipeline().parameters.performance_schema, \r\n    if(\r\n        contains(item().name, 'campaign'), \r\n        pipeline().parameters.campaign_schema, \r\n        null\r\n    )\r\n)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "ds_adls_allfiles_source",
											"type": "DatasetReference",
											"parameters": {
												"p_filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_csvfiles_to_bronze_dest",
											"type": "DatasetReference",
											"parameters": {
												"p_folder_name": {
													"value": "@if(\n    contains(item().name, 'performance'), \n    'social_post_performance', \n    if(\n        contains(item().name, 'campaign'), \n        'campaign_lookup',\n        'unclassified_data'\n    )\n)",
													"type": "Expression"
												},
												"p_filename": {
													"value": "@if(\n    contains(item().name, 'performance'), \n    concat('social_post_performance_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '_', item().name), \n    if(\n        contains(item().name, 'campaign'), \n        concat('campaign_lookup_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '_', item().name),\n        concat('unclassified_', item().name)\n    )\n)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete file after ingestion",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy file to bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_adls_allfiles_source",
											"type": "DatasetReference",
											"parameters": {
												"p_filename": "@item().name"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_adls_connection",
												"type": "LinkedServiceReference"
											},
											"path": "load/deletelogs"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"campaign_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "campaign_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "campaign_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "campaign_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "campaign_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "client_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "client_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "budget_usd",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "budget_usd",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "start_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "start_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "end_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "end_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "goal",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "goal",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"performance_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "post_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "post_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "campaign_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "campaign_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "platform",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "platform",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "post_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "post_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "impressions",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "impressions",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "reach",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "reach",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "clicks",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "clicks",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "shares",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "shares",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "content_type",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "content_type",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "posted_ts",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "posted_ts",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_all_files_names')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_allfiles_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_csvfiles_to_bronze_dest')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p1_p2_pipeline_Exe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute p1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "p1_csv_files_ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute p2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute p1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "p2_api_data_ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/p1_csv_files_ingestion')]",
				"[concat(variables('factoryId'), '/pipelines/p2_api_data_ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p2_api_data_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until hasMore",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('hasMore'), false)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy API Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_api_source",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_api_to_adls_dest",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "API validate",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Copy API Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": "https://mocki.io/v1/410bc703-7c36-4382-9ba1-1d8e6a33f2ff"
									}
								},
								{
									"name": "If hasMore",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "API validate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('API validate').output.has_more",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set hasMore",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "hasMore",
													"value": false
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"hasMore": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_api_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_api_to_adls_dest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p3_silver_datacleaning')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data Cleaning",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"performance": {},
									"apiresponse": {},
									"Campaign": {},
									"sinkToADLS": {},
									"sinkAPIToADLS": {},
									"sinkCampaign": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p4_join_OBD_and_dim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gold Data Flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "goldDataFlow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"performanceSilver": {},
									"campaignSilver": {},
									"engagementsSilver": {},
									"goldp5campaignroi": {},
									"sinkgoldp5contentperformance": {},
									"goldp5influencerreachreport": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/goldDataFlow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Campaign_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "campaign_silver.parquet",
						"folderPath": "campaign",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Engagement_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "engagements_silver.parquet",
						"folderPath": "Engagements",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQLToParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{utcNow()}.parquet",
							"type": "Expression"
						},
						"folderPath": {
							"value": "MySQL/@{dataset().folder_name}",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQL_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql_connection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Performance_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "performance_silver.parquet",
						"folderPath": "performance",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WatermarkLookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_allfiles_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_filename",
							"type": "Expression"
						},
						"folderPath": "csvfiles",
						"fileSystem": "load"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_all_files_names')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csvfiles",
						"fileSystem": "load"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_api_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_api_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "v1/410bc703-7c36-4382-9ba1-1d8e6a33f2ff"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_api_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_api_to_adls_dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "response_@{utcNow()}.json",
							"type": "Expression"
						},
						"folderPath": "api_responses",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csvfiles_to_bronze_dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folder_name": {
						"type": "string"
					},
					"p_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "csvfiles/@{dataset().p_folder_name}",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_p5_campaign_roi_summary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "gold_p5_campaign_roi_summary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_p5_content_performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "gold_p5_content_performance"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_p5_influencer_reach_report')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "gold_p5_influencer_reach_report"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_api_jsons')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"since_id": {
							"type": "string"
						},
						"next_since_id": {
							"type": "string"
						},
						"has_more": {
							"type": "boolean"
						},
						"data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"engagement_id": {
										"type": "string"
									},
									"post_id": {
										"type": "string"
									},
									"user_id": {
										"type": "string"
									},
									"engagement_type": {
										"type": "string"
									},
									"reaction_type": {
										"type": "string"
									},
									"engagement_ts": {
										"type": "string"
									},
									"sentiment_score": {
										"type": "number"
									},
									"influencer_flag": {
										"type": "boolean"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_campaign_csvs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "campaign_id",
						"type": "String"
					},
					{
						"name": "campaign_name",
						"type": "String"
					},
					{
						"name": "client_id",
						"type": "String"
					},
					{
						"name": "budget_usd",
						"type": "String"
					},
					{
						"name": "start_date",
						"type": "String"
					},
					{
						"name": "end_date",
						"type": "String"
					},
					{
						"name": "goal",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_campaign_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "campaign_id",
						"type": "UTF8"
					},
					{
						"name": "campaign_name",
						"type": "UTF8"
					},
					{
						"name": "budget_usd",
						"type": "DECIMAL",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "start_date",
						"type": "DATE"
					},
					{
						"name": "end_date",
						"type": "DATE"
					},
					{
						"name": "goal",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_engagements_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "engagement_id",
						"type": "UTF8"
					},
					{
						"name": "engagement_ts",
						"type": "UTF8"
					},
					{
						"name": "engagement_type",
						"type": "UTF8"
					},
					{
						"name": "influencer_flag",
						"type": "BOOLEAN"
					},
					{
						"name": "post_id",
						"type": "UTF8"
					},
					{
						"name": "reaction_type",
						"type": "UTF8"
					},
					{
						"name": "sentiment_score",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "user_id",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_performance_csvs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "post_id",
						"type": "String"
					},
					{
						"name": "campaign_id",
						"type": "String"
					},
					{
						"name": "platform",
						"type": "String"
					},
					{
						"name": "post_date",
						"type": "String"
					},
					{
						"name": "impressions",
						"type": "String"
					},
					{
						"name": "reach",
						"type": "String"
					},
					{
						"name": "clicks",
						"type": "String"
					},
					{
						"name": "shares",
						"type": "String"
					},
					{
						"name": "content_type",
						"type": "String"
					},
					{
						"name": "posted_ts",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_read_silver_performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "post_id",
						"type": "UTF8"
					},
					{
						"name": "campaign_id",
						"type": "UTF8"
					},
					{
						"name": "platform",
						"type": "UTF8"
					},
					{
						"name": "post_date",
						"type": "DATE"
					},
					{
						"name": "impressions",
						"type": "INT64"
					},
					{
						"name": "reach",
						"type": "INT32"
					},
					{
						"name": "clicks",
						"type": "INT32"
					},
					{
						"name": "shares",
						"type": "INT64"
					},
					{
						"name": "content_type",
						"type": "UTF8"
					},
					{
						"name": "posted_ts",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_update_waterm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_watermark_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "table_name",
						"type": "varchar"
					},
					{
						"name": "watermark_value",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermark_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_connection_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_connection_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_api_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_api_connection_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_mysql_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Odbc",
				"typeProperties": {
					"connectionString": "Driver={MySQL ODBC 9.6 Unicode Driver};Server=localhost;Port=3306;Database=oil_dataset;Option=3;",
					"authenticationType": "Basic",
					"userName": "[parameters('ls_mysql_connection_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "MySqlPassword"
					}
				},
				"connectVia": {
					"referenceName": "MyLocalGateway",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyLocalGateway')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_connection_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_connection_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_connection_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_connection_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyLocalGateway')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_read_performance_csvs",
								"type": "DatasetReference"
							},
							"name": "performance"
						},
						{
							"dataset": {
								"referenceName": "ds_read_api_jsons",
								"type": "DatasetReference"
							},
							"name": "apiresponse"
						},
						{
							"dataset": {
								"referenceName": "ds_read_campaign_csvs",
								"type": "DatasetReference"
							},
							"name": "Campaign"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Performance_parquet",
								"type": "DatasetReference"
							},
							"name": "sinkToADLS"
						},
						{
							"dataset": {
								"referenceName": "Engagement_parquet",
								"type": "DatasetReference"
							},
							"name": "sinkAPIToADLS"
						},
						{
							"dataset": {
								"referenceName": "Campaign_Parquet",
								"type": "DatasetReference"
							},
							"name": "sinkCampaign"
						}
					],
					"transformations": [
						{
							"name": "flattenArrays"
						},
						{
							"name": "filterdate"
						},
						{
							"name": "derivedcolupper"
						},
						{
							"name": "aggregatededuplication"
						},
						{
							"name": "derivedColumns"
						},
						{
							"name": "aggregate"
						},
						{
							"name": "DerivedCampaign"
						},
						{
							"name": "aggregateCampaign"
						}
					],
					"scriptLines": [
						"source(output(",
						"          post_id as string,",
						"          campaign_id as string,",
						"          platform as string,",
						"          post_date as date,",
						"          impressions as long,",
						"          reach as long,",
						"          clicks as long,",
						"          shares as long,",
						"          content_type as string,",
						"          posted_ts as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['csvfiles/social_post_performance/*.csv']) ~> performance",
						"source(output(",
						"          since_id as string,",
						"          next_since_id as string,",
						"          has_more as boolean,",
						"          data as (engagement_id as string, post_id as string, user_id as string, engagement_type as string, reaction_type as string, engagement_ts as string, sentiment_score as double, influencer_flag as boolean)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'singleDocument',",
						"     wildcardPaths:['/api_responses/*.json']) ~> apiresponse",
						"source(output(",
						"          campaign_id as string,",
						"          campaign_name as string,",
						"          client_id as string,",
						"          budget_usd as double,",
						"          start_date as date,",
						"          end_date as date,",
						"          goal as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['csvfiles/campaign_lookup/*.csv']) ~> Campaign",
						"apiresponse foldDown(unroll(data, data),",
						"     mapColumn(",
						"          engagement_id = data.engagement_id,",
						"          engagement_ts = data.engagement_ts,",
						"          engagement_type = data.engagement_type,",
						"          influencer_flag = data.influencer_flag,",
						"          post_id = data.post_id,",
						"          reaction_type = data.reaction_type,",
						"          sentiment_score = data.sentiment_score,",
						"          user_id = data.user_id",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenArrays",
						"performance filter(post_date <= currentDate() && !isNull(reach)) ~> filterdate",
						"filterdate derive(platform = iif(isNull(platform), 'UNAVAILABLE',upper(platform)),",
						"          clicks = iif(isNull(clicks), 0, toInteger(iif(clicks > impressions, impressions, clicks))),",
						"          reach = iif(isNull(reach), 0, toInteger(reach)),",
						"          campaign_id = iif(isNull(campaign_id), 'UNAVAILABLE', campaign_id)) ~> derivedcolupper",
						"derivedcolupper aggregate(groupBy(post_id),",
						"     campaign_id = last(campaign_id),",
						"          platform = last(platform),",
						"          post_date = last(post_date),",
						"          impressions = last(impressions),",
						"          reach = last(reach),",
						"          clicks = last(clicks),",
						"          shares = last(shares),",
						"          content_type = last(content_type),",
						"          posted_ts = last(posted_ts)) ~> aggregatededuplication",
						"flattenArrays derive(engagement_type = upper(engagement_type),",
						"          sentiment_score = iif(sentiment_score > 1.0 || sentiment_score < -1.0 || isNull(sentiment_score), toDecimal(0), toDecimal(sentiment_score)),",
						"          reaction_type = coalesce(reaction_type, 'NONE'),",
						"          user_id = coalesce(user_id, 'UNKNOWN')) ~> derivedColumns",
						"derivedColumns aggregate(groupBy(engagement_id),",
						"     engagement_ts = last(engagement_ts),",
						"          engagement_type = last(engagement_type),",
						"          influencer_flag = last(influencer_flag),",
						"          post_id = last(post_id),",
						"          reaction_type = last(reaction_type),",
						"          sentiment_score = last(sentiment_score),",
						"          user_id = last(user_id)) ~> aggregate",
						"Campaign derive(budget_usd = coalesce(toDecimal(budget_usd), 0.0),",
						"          client_id = coalesce(client_id, 'UNKNOWN'),",
						"          campaign_name = trim(campaign_name)) ~> DerivedCampaign",
						"DerivedCampaign aggregate(groupBy(campaign_id),",
						"     campaign_name = last(campaign_name),",
						"          budget_usd = last(budget_usd),",
						"          start_date = last(start_date),",
						"          end_date = last(end_date),",
						"          goal = last(goal)) ~> aggregateCampaign",
						"aggregatededuplication sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkToADLS",
						"aggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkAPIToADLS",
						"aggregateCampaign sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkCampaign"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_read_performance_csvs')]",
				"[concat(variables('factoryId'), '/datasets/ds_read_api_jsons')]",
				"[concat(variables('factoryId'), '/datasets/ds_read_campaign_csvs')]",
				"[concat(variables('factoryId'), '/datasets/Performance_parquet')]",
				"[concat(variables('factoryId'), '/datasets/Engagement_parquet')]",
				"[concat(variables('factoryId'), '/datasets/Campaign_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/goldDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_read_silver_performance",
								"type": "DatasetReference"
							},
							"name": "performanceSilver"
						},
						{
							"dataset": {
								"referenceName": "ds_read_campaign_silver",
								"type": "DatasetReference"
							},
							"name": "campaignSilver"
						},
						{
							"dataset": {
								"referenceName": "ds_read_engagements_silver",
								"type": "DatasetReference"
							},
							"name": "engagementsSilver"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_p5_campaign_roi_summary",
								"type": "DatasetReference"
							},
							"name": "goldp5campaignroi"
						},
						{
							"dataset": {
								"referenceName": "ds_gold_p5_content_performance",
								"type": "DatasetReference"
							},
							"name": "sinkgoldp5contentperformance"
						},
						{
							"dataset": {
								"referenceName": "ds_gold_p5_influencer_reach_report",
								"type": "DatasetReference"
							},
							"name": "goldp5influencerreachreport"
						}
					],
					"transformations": [
						{
							"name": "aggEngagements"
						},
						{
							"name": "joinPerfEng"
						},
						{
							"name": "joinCampaign"
						},
						{
							"name": "derivedKPIs"
						},
						{
							"name": "aggROI"
						},
						{
							"name": "derivedROI"
						},
						{
							"name": "aggContent"
						},
						{
							"name": "aggInfluencer"
						},
						{
							"name": "aggInfluencer1"
						},
						{
							"name": "alterRow1"
						},
						{
							"name": "alterRow2"
						},
						{
							"name": "alterRow3"
						},
						{
							"name": "changepostdatetoreportdate"
						}
					],
					"scriptLines": [
						"source(output(",
						"          post_id as string,",
						"          campaign_id as string,",
						"          platform as string,",
						"          post_date as date,",
						"          impressions as long,",
						"          reach as integer,",
						"          clicks as integer,",
						"          shares as long,",
						"          content_type as string,",
						"          posted_ts as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     wildcardPaths:['performance/*.parquet']) ~> performanceSilver",
						"source(output(",
						"          campaign_id as string,",
						"          campaign_name as string,",
						"          budget_usd as decimal(12,2),",
						"          start_date as date,",
						"          end_date as date,",
						"          goal as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     wildcardPaths:['campaign/*.parquet']) ~> campaignSilver",
						"source(output(",
						"          engagement_id as string,",
						"          engagement_ts as string,",
						"          engagement_type as string,",
						"          influencer_flag as boolean,",
						"          post_id as string,",
						"          reaction_type as string,",
						"          sentiment_score as decimal(10,2),",
						"          user_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     wildcardPaths:['Engagements/*.parquet']) ~> engagementsSilver",
						"engagementsSilver aggregate(groupBy(post_id),",
						"     total_engagements = count(engagement_id),",
						"          influencer_engagements = sum(iif(influencer_flag == true(), 1, 0)),",
						"          avg_sentiment_score = avg(toDecimal(sentiment_score, 10, 4))) ~> aggEngagements",
						"performanceSilver, aggEngagements join(performanceSilver@post_id == aggEngagements@post_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinPerfEng",
						"joinPerfEng, campaignSilver join(performanceSilver@campaign_id == campaignSilver@campaign_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinCampaign",
						"joinCampaign derive(report_month = left(toString(post_date), 7),",
						"          safe_engagements = coalesce(total_engagements, 0L),",
						"          safe_influencer = coalesce(influencer_engagements, 0L),",
						"          budget_usd = coalesce(budget_usd, toDecimal(0,18,2)),",
						"          safe_sentiment = coalesce(avg_sentiment_score, toDecimal(0,10,4)),",
						"          engagement_rate = toDecimal((coalesce(total_engagements,0L)*100) / iif(impressions>0, toLong(impressions), toLong(1)), 10, 4)) ~> derivedKPIs",
						"derivedKPIs aggregate(groupBy(report_month,",
						"          performanceSilver@campaign_id,",
						"          campaign_name,",
						"          budget_usd),",
						"     total_impressions = sum(impressions),",
						"          total_reach = sum(toLong(reach)),",
						"          total_clicks = sum(toLong(clicks)),",
						"          total_shares = sum(shares)) ~> aggROI",
						"aggROI derive(ctr_pct = toDecimal((total_clicks*100) / iif(total_impressions>0, total_impressions, toLong(1)), 10, 4),",
						"          cost_per_click = iif(total_clicks>0, toDecimal(budget_usd / toDecimal(total_clicks,18,2), 10, 4), toDecimal(0,10,4))) ~> derivedROI",
						"derivedKPIs aggregate(groupBy(post_date,",
						"          platform,",
						"          content_type),",
						"     total_posts = count(performanceSilver@post_id),",
						"          total_impressions = sum(impressions),",
						"          avg_engagement_rate = avg(engagement_rate),",
						"          total_shares = sum(shares)) ~> aggContent",
						"derivedKPIs aggregate(groupBy(report_month,",
						"          performanceSilver@campaign_id),",
						"     influencer_engagements = sum(safe_influencer),",
						"          total_engagements = sum(safe_engagements),",
						"          avg_sentiment_score = avg(toDecimal(safe_sentiment, 10, 4))) ~> aggInfluencer",
						"aggInfluencer derive(influencer_share_pct = iif(toLong(total_engagements) > 0L, toDecimal(toLong(influencer_engagements) * 100 / toLong(total_engagements), 10, 4), toDecimal(0, 10, 4))) ~> aggInfluencer1",
						"aggInfluencer1 alterRow(upsertIf(true())) ~> alterRow1",
						"changepostdatetoreportdate alterRow(upsertIf(true())) ~> alterRow2",
						"derivedROI alterRow(upsertIf(true())) ~> alterRow3",
						"aggContent select(mapColumn(",
						"          report_date = post_date,",
						"          platform,",
						"          content_type,",
						"          total_posts,",
						"          total_impressions,",
						"          avg_engagement_rate,",
						"          total_shares",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> changepostdatetoreportdate",
						"alterRow3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['campaign_id','report_month'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> goldp5campaignroi",
						"alterRow2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['report_date','platform','content_type'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkgoldp5contentperformance",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['report_month','campaign_id'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> goldp5influencerreachreport"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_read_silver_performance')]",
				"[concat(variables('factoryId'), '/datasets/ds_read_campaign_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_read_engagements_silver')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_p5_campaign_roi_summary')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_p5_content_performance')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_p5_influencer_reach_report')]"
			]
		}
	]
}